[api]
environment=dev

database_host=db
database_port=5432
database_database=microcosm_development
database_username=microcosm
database_password=microcosm_password

microcosm_domain=microcosm.app
listen_port=80

memcached_host=memcached
memcached_port=11211

s3_bucket=dev-object-store
s3_access_key_id=xxxxxxxxxxxxxxxxxxxx
s3_secret_access_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
s3_bucket_name=dev-object-store
s3_endpoint=localstack:4566

pyroscope_app=1234
pyroscope_address=https://pyroscope/1234
pyroscope_user=username
pyroscope_password=passwd

mailgun_api_url=https://mailgun.com/TODO
mailgun_api_key=1234

sendgrid_api_key=1234

error_log_filename=/var/log/microcosm.error
warn_log_filename=/var/log/microcosm.warn
debug_log_filename=/var/log/microcosm.debug

elasticsearch_host=elastic-search
elasticsearch_port=9200

persona_verifier_url=https://persona.com/TODO
